<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class='bg-abu'>
  <ion-card>
    <ion-card-content>
      <h1 ion-text color="primary">{{userData.fullname}}</h1>
    </ion-card-content>
</ion-card>

  <div class="profil-list">
    <ion-list>
      <ion-item >
        <ion-icon name="md-megaphone" color='primary' item-start></ion-icon>
          <b>Bantuan</b>
      </ion-item>
      <ion-item href="http://simsetgis.technos-studio.com/home/profil">
        <ion-icon name="md-information-circle" color='primary' item-start></ion-icon>
          <b>Tentang</b>
      </ion-item>
      <ion-item href="http://simsetgis.technos-studio.com/home/privacy_policy">
        <ion-icon name="md-document" color='primary' item-start></ion-icon>
          <b>Privacy Policy</b>
      </ion-item>
    </ion-list>
  </div>
  <div padding>
    <ion-button ion-button expand="full" color='primary' (click)="changePassword()">
      Ganti Password &nbsp;
      <ion-icon name="md-key"></ion-icon>

    </ion-button>
  </div>
</ion-content>
