<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ganti Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="getData()">
    <ion-item>
      <ion-label position="floating">Passwod Lama</ion-label>
      <ion-input  type="password" [(ngModel)]="formData.old" name='old'></ion-input>
    </ion-item>
    <ion-item padding-bottom>
      <ion-label position="floating">Password Baru</ion-label>
      <ion-input type="password" [(ngModel)]="formData.new" name='new'></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">Ganti Password</ion-button>
  </form>
</ion-content>
